.container {
  border-style: ridge;
}

.heading {
  font-family: 'Rock Salt', cursive;
}

ul {
  list-style: none;
}

.new_instructions {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 12px;
}